.collection-carousel .collection-carousel-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .collection-carousel .collection-carousel-wrapper {
    flex: 0 0 calc(50% - 44px);
    max-width: calc(50% - 44px);
    padding-top: 8.5rem;
  }
}
.collection-carousel .collection-carousel-box {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
}
@media screen and (min-width: 1200px) {
  .collection-carousel .collection-carousel-box {
    gap: 8.8rem;
    flex-direction: unset;
  }
}
.collection-carousel .collection-product-card {
  margin-right: 2.4rem;
}
.collection-carousel .collection-products-slider {
  margin-top: 6.4rem;
}
.collection-carousel .collection-carousel-icon {
  margin-bottom: 3.2rem;
}
.collection-carousel .collection-carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .collection-carousel .collection-carousel-item {
    flex: 0 0 calc(50% - 44px);
    max-width: calc(50% - 44px);
  }
}
.collection-carousel .collection-carousel-item .collection-carousel-img {
  width: 100%;
  height: 100%;
}
.collection-carousel .collection-carousel-item .collection-carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.collection-carousel .card__title {
  margin: 0;
}
.collection-carousel .card-wrapper {
  background-color: unset;
}
.collection-carousel .card-information__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collection-carousel .product-parameters {
  margin-bottom: 0;
}
.collection-carousel .card-information-block {
  gap: 1rem;
}
.collection-carousel .collection-carousel-btn {
  margin-top: 3.2rem;
}