.drawer__inner-empty {
  margin: auto 0;
}

.cart__empty-text {
  margin: 1.6rem 0;
}
@media screen and (min-width: 990px) {
  .cart__empty-text {
    margin: 3.2rem 0;
  }
}

.drawer.active .drawer__inner {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.drawer {
  position: fixed;
  z-index: calc(var(--header-z-index) + 10);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: visibility var(--duration-default) ease;
  visibility: hidden;
}
.drawer.active {
  visibility: visible;
}
.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.drawer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65rem;
  max-width: 100vw;
  padding: 2rem;
  background-color: rgb(var(--color-background));
  filter: drop-shadow(0px 4rem 6rem rgba(var(--color-foreground), 0.05));
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all var(--duration-long) ease;
}

.cart__checkout-button {
  background-color: #692c2a;
  color: white;
}

@media screen and (min-width: 750px) {
  .drawer__inner {
    padding: 4rem;
  }
}
.drawer__header {
  margin-bottom: 2rem;
}
@media screen and (min-width: 990px) {
  .drawer__header {
    margin-bottom: 4rem;
  }
}
.drawer__header hr {
  margin: 2rem 0 0;
  width: 300vw;
  transform: translateX(-50%);
  pointer-events: none;
}
@media screen and (min-width: 990px) {
  .drawer__header hr {
    margin: 4rem 0 0;
  }
}
.drawer__heading {
  margin-bottom: 0;
  margin-top: 0;
}
.drawer__close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
@media screen and (min-width: 750px) {
  .drawer__close {
    top: 3.2rem;
    right: 3.2rem;
  }
}
.drawer__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto -2rem -2rem;
  padding: 1.6rem 2rem;
  background: rgba(var(--color-background-secondary));
  gap: 2.4rem;
}
@media screen and (min-width: 990px) {
  .drawer__footer {
    margin: auto -4rem -4rem;
    padding: 3.2rem 4rem;
  }
}
.drawer .cart-item {
  padding: 2.4rem 0;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.drawer .cart-item:last-child {
  border-bottom: none;
}
.drawer .cart-item:first-child {
  padding-top: 0;
}
.drawer .cart-item__details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.drawer .cart-item__inner-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem 1.6rem;
}
@media screen and (min-width: 750px) {
  .drawer .cart-item__inner-top {
    grid-template-columns: 0.25fr 1fr;
  }
}
.drawer .cart-item__media {
  position: relative;
}
.drawer .cart-item__media img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.drawer .cart-item__media:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media screen and (min-width: 750px) {
  .drawer .cart-item__media:before {
    padding-bottom: 120%;
  }
}
.drawer .cart-item__name {
  display: inline-block;
  transition: var(--duration-default);
  font-weight: 500;
}
.drawer .cart-item__name:hover {
  opacity: 0.7;
}
.drawer .cart-item__collection-name {
  margin-bottom: 0.8rem;
  max-width: max-content;
  font-weight: 500;
}
.drawer .cart-item__details-header {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  align-items: flex-start;
  margin-bottom: 1.4rem;
}
.drawer .cart-item dl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 0.4rem;
  margin: 0 0 3rem;
}
.drawer .cart-item dl .product-option + .product-option {
  position: relative;
  padding-left: 0.8rem;
}
.drawer .cart-item dl .product-option + .product-option::before {
  position: absolute;
  content: ",";
  left: -0.2rem;
  top: 0;
}
.drawer .cart-item .product-option {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.7);
}
.drawer .cart-item .product-option dd {
  margin: 0;
}
.drawer .cart-item__totals {
  position: relative;
}
.drawer .cart-item__totals .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
  left: 0;
  top: 0;
  bottom: 0;
}
.drawer .cart-item__totals .loading-overlay:not(.hidden) + .cart-item__price-wrapper {
  opacity: 0.5;
}
.drawer .cart-item__totals .loading-overlay__spinner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.8rem;
  height: 100%;
  transform: translateY(-50%);
}
.drawer .cart-item__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: 500;
}
.drawer .cart-item__discounted-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 0.6rem;
}
.drawer .cart-item__quantity-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  margin-top: auto;
}
.drawer .cart-item__quantity-price .field {
  width: auto;
}
.drawer .cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.4rem;
}
.drawer .cart-item__error-text {
  font-size: 1.2rem;
  line-height: var(--font-body-line-height);
  order: 1;
}
.drawer .cart-item__error-text:empty + svg {
  display: none;
}
.drawer .cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
}
.drawer .totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.drawer .totals .totals__subtotal {
  margin: 0;
}
.drawer .cart-drawer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--color-overlay), 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
  pointer-events: none;
}
.drawer.active .cart-drawer__overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.cart-drawer__overlay:empty {
  display: block;
}
.cart-drawer__footer .totals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2rem;
}
.cart-drawer .tax-note {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(var(--color-foreground), 0.5);
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

cart-drawer-items {
  overflow: auto;
  padding-right: 1.6rem;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }
  .drawer__inner {
    overflow-y: scroll;
  }
}
.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}