.rte {
  margin-bottom: 6.4rem;
}
.rte > p,
.rte > blockquote {
  margin: 0 0 2.4rem;
  line-height: 2.5rem;
}
.rte:after {
  clear: both;
  content: "";
  display: block;
}
.rte * {
  line-height: var(--font-body-line-height);
}
.rte h1,
.rte h2,
.rte h3,
.rte h4 {
  margin-top: 2.8rem;
  line-height: var(--font-heading-line-height);
}
@media screen and (min-width: 1200px) {
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4 {
    margin-top: 5.6rem;
    margin-bottom: 0;
  }
}
.rte div {
  margin: 0;
}
.rte p {
  font-size: 16px;
  letter-spacing: normal;
  color: inherit;
}
.rte p:first-child {
  margin-top: 0;
}
.rte p:last-child {
  margin-bottom: 0;
}
.rte ol,
.rte ul {
  padding-left: 2rem;
  margin: 0 0 1.6rem 2.4rem;
}
.rte li {
  list-style: inherit;
  padding-left: 0.8rem;
  margin: 1.6rem 0rem;
  font-size: 1.8rem;
  letter-spacing: 0;
}
.rte li:last-child {
  margin-bottom: 0;
}
.rte a {
  color: rgb(var(--color-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: rgb(var(--color-link));
  transition: color var(--duration-short) ease;
}
.rte a:hover {
  color: rgb(var(--color-link), 0.6);
}
.rte img,
.rte figure {
  height: auto;
  max-width: 100%;
  border-radius: 0.3rem;
}
.rte figure > img {
  margin: 0;
}
.rte figcaption {
  font-size: 1rem;
  color: rgba(var(--color-foreground), 0.6);
  text-align: center;
}
.rte img + img {
  margin-top: 0;
}
@media screen and (min-width: 990px) {
  .rte img + img {
    margin-left: 2.4rem;
  }
}
.rte table {
  table-layout: fixed;
  overflow: auto;
}
@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
.rte iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.rte blockquote {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  border-radius: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-top: unset;
  padding: 2rem;
  overflow: hidden;
  margin-top: 2.8rem;
  margin-bottom: 0;
}
.rte blockquote h1,
.rte blockquote h2,
.rte blockquote h3,
.rte blockquote h4 {
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px) {
  .rte blockquote {
    padding: 3.2rem;
    margin-top: 5.6rem;
  }
}
@media only screen and (min-width: 1360px) {
  .rte blockquote {
    padding: 4rem;
  }
}
.rte blockquote:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.rte blockquote:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.rte blockquote img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rte blockquote * {
  color: inherit;
}
.rte blockquote p {
  font-size: 4.8rem;
  font-size: calc(var(--font-heading-h3-scale) * 2.2rem);
}
@media only screen and (min-width: 750px) {
  .rte blockquote p {
    font-size: calc(var(--font-heading-h3-scale) * 2.4rem);
  }
}
@media only screen and (min-width: 1360px) {
  .rte blockquote p {
    font-size: calc(var(--font-heading-h3-scale) * 3.2rem);
  }
}
@media only screen and (min-width: 1540px) {
  .rte blockquote p {
    font-size: calc(var(--font-heading-h3-scale) * 4rem);
  }
}
.rte blockquote p:nth-child(2) {
  font-size: 1.8rem;
  margin-top: 1.6rem;
}
@media only screen and (min-width: 750px) {
  .rte blockquote p:nth-child(2) {
    font-size: 1.6rem;
  }
}