.header-top__left .disclosure__button .icon-caret,
.header-top__left .localization-form__select .icon-caret {
  min-width: 2rem;
  width: 2rem;
}

.localization-form__currency {
  margin-left: 0.4rem;
}
.localization-form__currency::after {
  content: none !important;
}

localization-form {
  display: block;
}

.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  margin: 0 auto;
  width: 100%;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

@media screen and (max-width: 989px) {
  .localization-form .button {
    word-break: break-all;
  }
}
.localization-form__select {
  position: relative;
  border: 0.1rem solid transparent;
  padding-left: 1rem;
  text-align: left;
}
.localization-form__select:hover {
  border-color: rgb(var(--color-border-input-hover));
  background-color: rgb(var(--color-background-input-hover));
}

.localization-form__select .icon-caret {
  margin-left: auto;
  height: 2rem;
}

.localization-form__select {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.2rem 2.4rem;
  width: 100%;
  height: auto;
  background-color: rgb(var(--color-background-input));
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
}
.localization-form__select .value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  gap: 0.6rem;
}

.localization-form__select[aria-expanded] svg {
  transition: all var(--duration-long) ease;
}

.localization-form__select[aria-expanded=true] svg {
  transform: rotate(180deg);
}

.localization-form__select.link .label {
  color: rgba(var(--color-foreground-title), 0.6);
}

.localization-form__select option {
  color: #000000;
}

.localization-form__select + .disclosure__list {
  position: absolute;
  bottom: 100%;
  padding: 1.2rem 0;
  max-width: 22rem;
  min-width: 100%;
  width: max-content;
  min-height: 8.2rem;
  max-height: 19rem;
  background: rgb(var(--color-background));
  border: none;
  transform: translateY(-1rem);
  animation: animateLocalization var(--duration-default) ease;
  opacity: 1;
  z-index: 2;
  overflow-y: auto;
}

.localization-form__select:focus {
  box-shadow: 0 0 0 0.1rem transparent;
}

@media screen and (max-width: 989px) {
  noscript .localization-form:only-child,
  .footer__localization noscript {
    width: 100%;
  }
}
.no-js localization-form {
  display: none;
}
.no-js .localization-form__select {
  min-width: 20rem;
  color: rgb(var(--color-placeholder-input));
}
.no-js .localization-form__select .icon-caret {
  display: none;
}
.no-js .localization-form__select .link {
  background: rgb(var(--color-background-input));
  color: inherit;
  padding: 1rem;
}
.no-js .localization-form__select + .button {
  margin-top: 0.8rem;
}