.quick-add {
  position: relative;
  grid-row-start: 4;
  z-index: 10;
}

.modal-opener {
  position: relative;
  z-index: 1;
}

.quick-add-modal {
  --modal-height: 45rem;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal {
    --modal-height: 62rem;
  }
}
.quick-add-modal .icon-close {
  width: 1.5rem;
  height: 1.5rem;
}
.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}
.quick-add-modal .product--no-media .product__info-wrapper {
  width: 100%;
}
.quick-add-modal .swiper-slide {
  width: 100% !important;
}
.quick-add-modal .quick-add-modal__content-wrapper {
  pointer-events: none;
}
.quick-add-modal .quick-add-modal__content-wrapper .product__media-wrapper,
.quick-add-modal .quick-add-modal__content-wrapper .product__info-wrapper {
  pointer-events: all;
}
.quick-add-modal .product__media {
  padding: 0;
  max-height: var(--modal-height);
  min-height: var(--modal-height);
  background-color: rgb(var(--color-background));
  border-radius: 0;
}
.quick-add-modal .product__media img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--modal-height);
  /* object-fit: cover; */
}
.quick-add-modal .shopify-payment-button__button:hover:not([disabled]) {
  opacity: 1;
}
.quick-add-modal .shopify-payment-button__button.shopify-payment-button__button--branded .shopify-cleanslate > div {
  overflow: hidden;
}
.quick-add-modal .breadcrumb {
  display: none;
}
.quick-add-modal .product-parameters {
  margin: 2.4rem 0;
  padding-top: 2.4rem;
}
.quick-add-modal .product-form {
  padding: 3.2rem 0 0;
  border-bottom: 0;
}
.quick-add-modal .product-form__buttons {
  margin-bottom: 0;
}
.quick-add-modal .product__text {
  display: none;
}
.quick-add-modal .product__outer {
  padding: 0;
  gap: 0;
  align-items: flex-start;
}
.quick-add-modal .product__media-list-wrapper {
  height: 100%;
}
.quick-add-modal .product__media-list {
  height: inherit;
}
.quick-add-modal .product__media-list .swiper-wrapper {
  height: 100% !important;
}
.quick-add-modal .product__media-list--auto-disabled {
  height: 100%;
}
.quick-add-modal .product__media-list--auto-disabled deferred-media {
  height: 100%;
}
.quick-add-modal .product__media-item {
  height: 100% !important;
}
@media (min-width: 990px) {
  .quick-add-modal .product__media-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    width: 45%;
  }
}
.quick-add-modal .product__info-wrapper {
  padding: 2rem;
  z-index: -2;
}
@media (min-width: 990px) {
  .quick-add-modal .product__info-wrapper {
    width: 55%;
    padding: 4rem 4rem 8rem;
  }
}
.quick-add-modal .product__media-toggle, .quick-add-modal .product__media-icon, .quick-add-modal .product__media-sublist, .quick-add-modal .product-popup,
.quick-add-modal .product .modals,
.quick-add-modal .product .share-buttons,
.quick-add-modal .product .product-about,
.quick-add-modal .product .icon-with-text,
.quick-add-modal .product .additional_text {
  display: none;
}
.quick-add-modal__announcement-bar {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.6rem;
  font-weight: 700;
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
}
.quick-add-modal__announcement-bar.quick-add-modal__announcement-bar___full {
  width: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal__announcement-bar {
    border-radius: 0 0 0.8rem 0;
    width: 56%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
.quick-add-modal__announcement-bar p {
  margin: 0;
}
.quick-add-modal__announcement-bar a {
  position: relative;
  text-underline-offset: 0.4rem;
  text-decoration-color: inherit;
  color: inherit;
}
.quick-add-modal__content-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: var(--modal-height);
  border-radius: 0.8rem;
}
.quick-add-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 3rem);
  max-width: 1076px;
  background-color: rgb(var(--color-background));
  border-radius: 0.8rem;
}
.quick-add-modal__content img {
  max-width: 100%;
  border-radius: 0;
}
.quick-add-modal .js-media-list {
  border-radius: 0;
}
@media (min-width: 990px) {
  .quick-add-modal .js-media-list {
    border-radius: 0.8rem 0 0 0.8rem;
  }
}
.quick-add-modal__toggle {
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 10;
}
@media (min-width: 1200px) {
  .quick-add-modal__toggle {
    /* top: 3.2rem;
    right: 3.2rem; */
    top: -0.8rem;
    right: -0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
  }
}
.quick-add-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.quick-add-modal .swiper-btn {
  width: 4.4rem;
  height: 4.4rem;
}
.quick-add-modal .swiper-btn--next:hover svg, .quick-add-modal .swiper-btn--prev:hover svg {
  transform: scale(1.2);
}
.quick-add-modal .swiper-btn .swiper-button-disabled:hover svg {
  transform: none;
}
.quick-add-modal .product-form__buttons {
  max-width: 100%;
}
@media (min-width: 750px) {
  .quick-add-modal .product-form__buttons {
    max-width: 50%;
  }
}
@media (min-width: 990px) {
  .quick-add-modal .product-form__buttons {
    max-width: 100%;
  }
}