.slideshow {
  --slideshow-bottom: 4rem;
}
@media screen and (min-width: 990px) {
  .slideshow {
    --slideshow-bottom: 8rem;
  }
  .slideshow.small {
    --slideshow-bottom: 4.4rem;
  }
  .slideshow.medium {
    --slideshow-bottom: 6.4rem;
  }
  .slideshow.large {
    --slideshow-bottom: 8rem;
  }
}
.slideshow .slideshow-slide::before {
  content: "";
  display: block;
  padding-bottom: var(--slide-height);
}
.slideshow .container .swiper {
  border-radius: 0.8rem;
}
@media screen and (min-width: 750px) {
  .slideshow .container .slideshow-slide__desc {
    max-width: 47rem;
  }
}
@media screen and (min-width: 1200px) {
  .slideshow .container .container {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}
@media screen and (min-width: 1360px) {
  .slideshow .container .container {
    padding-left: 8.8rem;
    padding-right: 8.8rem;
  }
}
.slideshow-slide {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
.slideshow-slide__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.slideshow-slide__img svg,
.slideshow-slide__img img,
.slideshow-slide__img video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -2;
}
.slideshow-slide__text {
  max-width: 98rem;
  padding: var(--slideshow-bottom) 0 calc(var(--slideshow-bottom) + 6rem);
}
@media screen and (min-width: 1200px) {
  .slideshow-slide__text { 
    padding: var(--slideshow-bottom) 0 calc(var(--slideshow-bottom) + 1rem);
  }
}
.slideshow-slide__title {
  margin: 0 0 1.6rem;
}
.slideshow-slide__title:only-child {
  margin: 0;
}
@media screen and (min-width: 990px) {
  .slideshow-slide__title {
    max-width: 100%;
  }
}
.slideshow-slide__desc {
  max-width: 54rem;
}
.slideshow-slide__button {
  padding-top:2.8rem;
}
.slideshow-swiper__slide {
  height: auto;
}
.slideshow .slideshow-bottom {
  position: absolute;
  bottom: var(--slideshow-bottom);
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 5;
}
.slideshow .slideshow-bottom__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.slideshow .slideshow .swiper-pagination {
  background: transparent;
}
.slideshow span.caption { margin-bottom: 20px; letter-spacing: 0; font-size: 12px; padding: 2px 8px; border-radius: 16px; font-weight: 600; display: inline-block; }

.slideshow img, .slideshow video, .slideshow-slide__img.have-overlay, .slideshow-swiper__slide.swiper-slide .have-overlay:before, .slideshow-slide { border-radius: 0 0 30px 30px; overflow: hidden; }
.no-border-radius,
.no-border-radius img,
.no-border-radius video,
.no-border-radius .slideshow-slide__img.have-overlay,
.no-border-radius .slideshow-slide__img.have-overlay.no-border-radius:before,
.slideshow-swiper__slide.swiper-slide.have-overlay.no-border-radius:before{
  border-radius: 0 !important;
  overflow: visible;
}



.slideshow svg.play-icon, .slideshow .is-playing svg.pause-icon { display: none; }
.slideshow .is-playing svg.play-icon { display:block; }
.slideshow .slideshow-slide__text { position: relative; }
.slideshow button.flaoting-play-video-play-pause-button { background: #575e5566; -webkit-backdrop-filter: blur(38px); backdrop-filter: blur(38px); max-width: fit-content; max-height: fit-content; border: none; border-radius: 50px; }
.slideshow .flaoting-play-video-play-pause-button-wrapper {z-index:3; position: absolute; bottom: 20px; display: flex; width: 100%; justify-content: flex-end; max-width: 1600px; left: 50%; transform: translate(-50%, 0px); }
.slideshow .flaoting-play-video-play-pause-button-wrapper path { fill: #fff; }
.slideshow .flaoting-play-video-play-pause-button-wrapper svg.pause-icon path {stroke: #fff; }
/* bsutton.flaoting-play-video-play-pause-button { background: #575e5566; -webkit-backdrop-filter: blur(38px); backdrop-filter: blur(38px); max-width: fit-content; max-height: fit-content; border: none; border-radius: 50px; width: 48px; height: 36px; min-width: 48px; min-height: 36px; display: flex; align-items: center; justify-content: center; } */
.slideshow button.flaoting-play-video-play-pause-button { background: #575e5566; -webkit-backdrop-filter: blur(38px); backdrop-filter: blur(38px); max-width: fit-content; max-height: fit-content; border: none; border-radius: 50px; width: 48px; height: 36px; min-width: 48px; min-height: 36px; display: flex; align-items: center; justify-content: center; cursor: pointer; }

@media(max-width:1600px){
  .slideshow .flaoting-play-video-play-pause-button-wrapper {padding: 0 20px;}
}
@media(max-width:749px){
  .slideshow span.caption { margin-bottom: 12px; }
  .slideshow-slide__button { padding-top: 2.4rem; }
  .slideshow .slideshow-slide__text { position: relative; padding-bottom: 40px; }
}