#shopify-section-footer {
  padding-bottom: 0 !important;
}

.footer-section {
  padding-bottom: 0 !important;
}

.section_border_left {
  padding-left: 0;
}
.section_border_left::before {
  content: "";
  position: absolute;
  top: -64px;
  left: 0;
  height: 0;
  width: 100%;
  background-color: rgb(var(--color-border));
}
@media screen and (min-width: 1200px) {
  .section_border_left {
    padding-left: 3rem;
    padding-top: 0;
  }
  .section_border_left::before {
    width: 1px;
    height: calc(100% + 128px);
  }
}
@media screen and (min-width: 1360px) {
  .section_border_left {
    padding-left: 4rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 1360px) {
  .section_border_left {
    padding-left: 6rem;
    padding-top: 0;
  }
}

.section_border_right {
  padding-right: 0;
}
.section_border_right::after {
  content: "";
  position: absolute;
  top: -64px;
  right: 0;
  height: 0;
  width: 100%;
  background-color: rgb(var(--color-border));
}
@media screen and (min-width: 1200px) {
  .section_border_right {
    padding-right: 3rem;
    padding-bottom: 0;
  }
  .section_border_right::after {
    width: 1px;
    height: calc(100% + 128px);
  }
}
@media screen and (min-width: 1360px) {
  .section_border_right {
    padding-right: 4rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1360px) {
  .section_border_right {
    padding-right: 6rem;
    padding-bottom: 0;
  }
}

.footer .footer__content-top {
  --menu-shadow-color: var(--color-overlay);
  --menu-shadow-alpha: 0.2;
}
.footer__content-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer--button {
  transition: all var(--duration-long) ease;
  text-decoration: none;
}
.footer--button:hover {
  opacity: 0.5;
}
.footer--button::after {
  display: none;
}
.footer-block-text {
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-block-text {
    max-width: 26rem;
  }
}
.footer-block-menu__item__heading {
  margin: 0 0 1.6rem;
}
.footer-block--logo {
  order: -1;
}
.footer-block--newsletter {
  order: 1;
}
.footer-block--logo, .footer-block--newsletter {
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .footer-block--logo, .footer-block--newsletter {
    box-sizing: content-box;
    order: unset;
  }
}
.footer-block-text {
  margin-top: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .footer-block-text {
    margin-top: 0;
  }
}
.footer__column--social {
  margin-top: 2.4rem;
}

.footer {
  position: relative;
  /* z-index: 10; */
}

.footer-block--logo-desc {
  margin-top: 1.6rem;
  font-weight: 400;
}

.footer--border {
  border-top: 1px solid rgba(var(--color-border-input));
}

.footer__blocks-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer__blocks-wrapper {
    gap: 1.8rem;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__blocks-wrapper {
    flex-wrap: nowrap;
  }
}

/* .footer-block--menu {
  display: none;
} */

.footer__text {
  font-size: 1.2rem;
}

label.field__label {
  --alpha-placeholder-input: 0.5;
}

.footer__copyright {
  margin-top: 4rem;
  opacity: 0.5;
}

.footer__copyright > * {
  font-size: 1.2rem;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 1200px) {
  .footer__blocks-wrapper {
    flex-direction: row;
    gap: 4rem;
  }
  .footer-block--menu {
    flex: none;
    display: block;
  }
  .footer-block--menu:last-child {
    margin-right: auto;
  }
  .footer-block--logo:last-child {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block--logo:first-child {
    flex: none;
    margin-right: 0;
    max-width: 25rem;
  }
}
@media screen and (min-width: 1360px) {
  .footer-block--logo:first-child {
    margin-right: auto;
    max-width: 32rem;
  }
}
@media screen and (min-width: 1860px) {
  .footer__blocks-wrapper {
    gap: 7.2rem;
  }
}
.footer__logo-link {
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}

.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__logo-link span {
  text-transform: var(--font-header-menu-text-transform);
}

.footer__content-middle-container {
  padding-top: 6.4rem;
}

.footer__content-middle-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}

.footer__bottom-menu .list-menu__item {
  padding: 0;
}

.list-menu__item--active span {
  text-decoration-color: rgb(var(--color-foreground));
}

.footer__bottom-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1.8rem;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .footer__column--localization + .footer__column--localization {
    margin-left: 3rem;
  }
  .footer__column--localization:last-child {
    margin-right: 0;
  }
  .footer__content-middle-main {
    gap: 3rem;
  }
}
@media screen and (min-width: 1360px) {
  .footer__column--localization + .footer__column--localization {
    margin-left: 11.5rem;
  }
}
.accordion:empty + .footer-block {
  margin-top: 0;
}

.footer .accordion {
  margin-top: 0;
}
.footer .accordion .footer-block__heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.footer .newsletter__form {
  margin-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__form {
    margin-top: 0;
    width: 36rem;
    margin-left: auto;
  }
}
@media screen and (min-width: 1540px) {
  .footer .newsletter__form {
    max-width:40rem;width:100%;
  }
}
.footer .newsletter__form .rte {
  color: rgba(var(--color-foreground), 0.6);
}
.footer .newsletter__form .rte a {
  color: rgb(var(--color-link), 1);
  transition: color var(--duration-default);
}
.footer .newsletter__form .rte a:hover {
  color: rgba(var(--color-foreground), 0.8);
}
.footer .newsletter__form .field {
  border-radius: 50px;
  background-color: rgb(var(--color-background-input));
}
.footer .newsletter__form .field:hover:not(:focus) {
  border-color: rgb(var(--color-border-input-hover));
  background-color: rgb(var(--color-background-input-hover));
}
.footer .newsletter__form .newsletter__title {
  margin-bottom: 0;
}
.footer .newsletter__form .newsletter__text {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.footer .newsletter__form .newsletter__subscribe-text {
  opacity: 0.5;
  font-size: 1.3rem;
  font-weight: 400;
}
.footer .newsletter__form .newsletter__subscribe-text a {
  text-underline-offset: 0.2rem;
}
.footer .newsletter__form .newsletter-form__field-wrapper {
  position: relative;
}
.footer .accordion:not(:first-child) {
  border-top: none;
}
.footer .accordion:first-child {
  margin-top: 2.4rem;
}

@media screen and (min-width: 1200px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}
.footer-block:empty {
  display: none;
}

.footer-block__heading {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.footer__list-social:empty {
  display: none;
}

.footer__list-social .list-social__item--placeholder:not(:only-child) {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer__content-middle-container {
    flex-direction: row;
  }
}
.footer__localization {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .footer__localization {
    flex-direction: row-reverse;
  }
}

/* @media screen and (min-width: 1200px) { */
  footer .accordion {
    display: none;
  }
/* } */
@keyframes appear-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer details[open] summary ~ * {
  animation: appear-down var(--duration-default) ease;
}

.footer-block__details-content {
  margin-bottom: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
@media screen and (min-width: 1200px) {
  .footer-block__details-content {
    margin-bottom: 4rem;
    gap: 1.2rem;
  }
}

.footer-block__details-content li:first-child .link {
  padding-top: 3rem;
}

@media screen and (min-width: 1200px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer-block__details-content li:first-child .link {
    padding-top: 0;
  }
  .footer-block__details-content li:last-child .link {
    padding-bottom: 0;
  }
  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }
  .accordion:first-child + .footer-block:last-child li,
  .footer-block:only-child li {
    display: inline;
  }
}
.footer__localization:empty {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer-block__details-content .list-menu__item--link,
  .copyright__content a,
  .footer__bottom-menu .list-menu__item {
    position: relative;
    display: inline-flex;
  }
  .footer__column--menu,
  .footer__column--payment {
    width: auto;
  }
  .footer-block__details-content .list-menu__item--link {
    color: rgba(var(--color-foreground));
  }
  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration: none;
  }
}
.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgba(var(--color-foreground-title), 1);
}

@media screen and (min-width: 1200px) {
  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
    margin-top: 0;
  }
}
.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
.footer-newsletter__button {
  width: 100%;
}

@media screen and (min-width: 1200px) and (max-width: 1360px) {
  .footer-newsletter__button-full {
    width: 100%;
  }
}

.footer-section .footer-block--logo-desc { margin-top: 30px; font-weight: 400; font-size: 30px; }
.footer-section .footer__blocks-wrapper { display: grid; grid-template-columns: repeat(7, 1fr); grid-template-rows: repeat(2, 1fr); gap: 8px;}
.footer-section .footer-block.footer-block--logo { grid-column: span 4 / span 4; grid-row: span 2 / span 2; max-width: 870px;}
.footer-section .footer__content-top .container { max-width: 100%; }
.footer .newsletter__form { width: 100%; max-width:425px; margin: 32px 0 0; gap: 0; }
.footer .newsletter__form .newsletter__text { margin-top: 0; font-weight: 400; margin-bottom: 1.6rem; opacity: 0.5; letter-spacing: 0; font-size: 14px;}
.footer-section .newsletter__subscribe-text.richtext__content { border: 1px solid rgba(252,252,247,.1); max-width: 400px; padding: 9px; margin-top: 32px; border-radius: 4px; font-size: 10px !important; opacity: 1 !important; }
.footer-newsletter__button { position: absolute; max-width: fit-content; right: 0; padding: 0!important; background-color: transparent; width: 43px; min-width: 43px; }
.footer .newsletter__form .field { border-radius: 10px; background-color: transparent !important; border: solid 1px #fff; height: 50px; min-height: 50px; }
.footer .newsletter__form .field, .footer .newsletter__form input::placeholder, .footer .newsletter__form .field__label { font-size: 16px; color: #fff; opacity: 1; }
.footer-block__heading { margin-top: 0; margin-bottom: 1.6rem; opacity: 0.5; text-transform: uppercase; font-size: 12px; }
.footer-block__details-content { margin-bottom: 4rem; gap: 8px; }
.list-menu__item--link { font-size: 14px; }
.footer__content-middle-container { padding: 0; }
.footer-section .footer-block--logo-desc svg { vertical-align: middle; }

@media(min-width:1200px){
  .footer-section .mobile-show-only {display:none;}
}
@media(max-width:1199px){
  .footer__blocks-wrapper .footer-block.footer-block--logo .newsletter__subscribe-text.richtext__content { display: none; }
  .footer-section .footer__blocks-wrapper { display: grid; grid-template-columns: repeat(7,1fr); grid-template-rows: repeat(2,1fr); gap: 8px; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 8px; }
  .footer-block.footer-block--menu.footer-block--menu--6, .footer-block.footer-block--menu.footer-block--menu--7, .footer-block.footer-block--menu.footer-block--menu--5 { grid-row-start: 4; }
  .footer-block.footer-block--menu.footer-block--menu--2, .footer-block.footer-block--menu.footer-block--menu--3, .footer-block.footer-block--menu.footer-block--menu--4 { grid-row-start: 3; }
  .footer-section .footer-block.footer-block--logo { grid-row: span 2 / span 2; max-width: 870px; grid-column: span 3 / span 3; margin-bottom: 30px; }
}

@media(max-width:749px){
  .footer__logo-link {text-decoration: none; word-wrap: break-word; max-width: 100%; margin: 0 auto; width: 100%; text-align: center; }
  .footer-section .footer-block--logo-desc { margin-top:40px; font-weight: 400; font-size: 25px; }
  .footer-section .footer__blocks-wrapper { display: grid; grid-template-columns: repeat(2,1fr); grid-template-rows: repeat(2,1fr); gap: 8px; }
  .footer-block.footer-block--menu.footer-block--menu--6, .footer-block.footer-block--menu.footer-block--menu--7{ grid-row-start: 4; }
  .footer-block.footer-block--menu.footer-block--menu--5,.footer-block.footer-block--menu.footer-block--menu--4 { grid-row-start:5; }
  .footer-block.footer-block--menu.footer-block--menu--2, .footer-block.footer-block--menu.footer-block--menu--3 { grid-row-start: 3; }
  .footer-section .header__heading-logo:only-child { display: block!important; margin: 0 auto; }
  .mobile-show-only .footer-block.footer-block--logo { margin-bottom: 0; }
  .mobile-show-only .newsletter__subscribe-text.richtext__content { margin-top: 0; }

}