.collection-banner {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.collection-banner .breadcrumb {
  margin: 2.4rem 0;
}
.collection-banner__body {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.collection-banner__body.show_img:after {
  content: "";
  display: block;
  padding-bottom: var(--slide-height);
}
.collection-banner > * {
  flex: 0 0 100%;
}
.collection-banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}
.collection-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
}
.collection-banner__title {
  max-width: 60rem;
  margin: 0 0 1.6rem;
}
.collection-banner__title:last-child, .collection-banner__title:only-child {
  margin: 0;
}
.collection-banner__desc {
  max-width: 90rem;
}

.container .collection-banner {
  border-radius: 0.8rem;
}
.container .collection-banner .container {
  margin: 0;
}