.video-list-section .swiper-slide-video-wrap { position: relative; padding-bottom: 50%; }
.video-list-section video {    cursor: pointer; width: 100%; border-radius: 20px; transform: scale(0.95); transition: all 0.25s; position: absolute; left: 0; top: 0; height: 100%; object-fit: cover; }
.video-list-section .swiper-slide.swiper-slide-active video {transform: scale(1); transition: all 0.25s; }
.video-list-section .heading-sections-wrapper {text-align: center; max-width: 732px; margin: 0 auto;  }


.video-list-section .video-container-wrapper video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
.video-list-section .play-button:hover { transform: scale(1.1); } 
.play-button svg { width: 30px; height: 30px; color: #000; } 
.video-list-section .video-playing .video-poster-overlay { opacity: 0; pointer-events: none; }
.video-poster-overlay { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; position: absolute; }
.video-list-section .play-button { padding: 0; transition: transform .2s; background: #575e5566; -webkit-backdrop-filter: blur(38px); backdrop-filter: blur(38px); max-width: fit-content; max-height: fit-content; border: none; border-radius: 50px; width: 60px; height: 60px; min-width: 60px; min-height: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer; }

@media(max-width:749px){
    .video-list-section .swiper-slide-video-wrap {padding-bottom:130%;}
    .video-list-section .heading-sections-wrapper {text-align: left; }
}